.chat-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
}

.chat-button.open {
  width: 400px; /* Ajuste del ancho de la ventana de chat */
  height: 500px; /* Ajuste de la altura de la ventana de chat */
}

.chat-window {
  background-color: #222;
  border: 1px solid #444;
  border-radius: 4px;
  padding: 16px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

button.open-button {
  padding: 8px 16px;
  background-color: #202123;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button.close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 4px;
  background-color: #444;
  color: #fff;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.chat-input {
  padding: 8px;
  margin-bottom: 8px;
  color: #fff;
  border: 1px solid #444;
  border-radius: 4px;
  width: calc(100% - 32px);
  background-color: #444;
}

.chat-log {
  flex: 1;
  height: 0;
  overflow-y: auto;
  border: 1px solid #444;
  border-radius: 4px;
  padding: 8px;
  margin-bottom: 8px;
}

.chat-message {
  margin-bottom: 4px;
  padding: 8px;
  border-radius: 4px;
  max-width: 70%; /* Ajuste del ancho máximo de la burbuja de mensaje */
}

.chat-message.sent {
  align-self: flex-end;
  background-color: #c1e7d9; /* Cambio de color a verde claro */
  color: #333;
  margin-left: auto; /* Alinea los mensajes enviados hacia la derecha */
}

.chat-message.received {
  align-self: flex-start;
  background-color: #f2f2f2; /* Cambio de color a grisáceo */
  color: #333;
}

.send-button {
  padding: 8px 16px;
  background-color: #4caf50; /* Cambio de color a verde más brillante */
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 8px;
}
